html,body {
    width: 100%;
    height: 100%;
}

.demo {
    position: relative;
    flex-direction: column-reverse;
    background-color: #455A64;
    top: 0;
    grid-area: demo;
    position: sticky;
    top: 0;
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    border: 0px solid #555;
    box-sizing: border-box;
}

model-viewer {
    width: 100%;
    height: 100%;
}
